.form-control label{
display: block;
font-family: cursive;
padding: 10px;
}

.form-control {
 margin-bottom: 20px;
  }

.Add-Task-Form {
  box-shadow: 1px 5px 5px rgb(152, 203, 176);
}

.form-control input {
  width: 90%;
  max-height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
  padding: 10px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: cursive;
  margin-bottom: 50px;
  padding: 10px;

}



.form-control-check input {
  flex: 1;
  height: 20px;
}

.btn-submit {
  display: block;
  width: 100%;
  background-color: rgb(231, 240, 232);
  padding: 10px;
  border-radius: 2%;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: rgb(251, 248, 248);
}
